name: backend-cd
on:
  workflow_dispatch:

  pull_request:
    branches: ['main']
    paths: ['starter/backend/**']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Set up Python 
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv --user
        pipenv install
      working-directory: starter/backend
    
    - name: Lint
      run: |
        pipenv install flake8
        pipenv run lint
      working-directory: starter/backend
    
    - name: Test
      run: |
        pipenv run test
      working-directory: starter/backend
    
    - name: Retrieve AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
    
    - name: Login AWS ECR
      id: ecr
      uses: aws-actions/amazon-ecr-login@v1
      with:
        mask-password: 'true'

    - name: Build and push Docker image
      env:
        REACT_APP_MOVIE_API_URL: https://E0E891CF267A72AA138453D0A00EF19E.gr7.us-east-1.eks.amazonaws.com
      run: |
        docker build -t 486819485698.dkr.ecr.us-east-1.amazonaws.com/backend:latest .
        docker push 486819485698.dkr.ecr.us-east-1.amazonaws.com/backend:latest
      working-directory: starter/backend
    
    - name: Deploy to EKS
      run: |
        cd k8s
        aws eks --region us-east-1 update-kubeconfig --name cluster
        kustomize edit set image backend=486819485698.dkr.ecr.us-east-1.amazonaws.com/backend:latest
        kustomize build | kubectl apply -f -
      working-directory: starter/backend
